@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica Neue LT Std 45 Light.otf");
}
/****
 *
 * Main Colors
 *
***** */
/****
 *
 *	General 
 *
 **** */
html {
  margin: 0px;
  background: #dddddd;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

html, body {
  color: #646464;
}

a {
  color: #4578fd;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #6b70c7;
  text-decoration: none;
}

button, input {
  background: #c6c8d3;
  color: #ffffff;
  border: 0px;
  border-radius: 18px;
  padding: 7px 12px;
  outline: none;
}

input::placeholder {
  font-size: 0.8em;
  color: #ffffff;
  opacity: 0.6;
}

button:active, input:active {
  border: 0px;
  outline: transparent;
}

table {
  border-spacing: 0px;
}

/***
 *
 *	Dashboard Component
 *
******/
.dashboard-component {
  width: 80%;
  margin: 40px auto;
  display: flex;
  position: relative;
}

.dashboard-component::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.sidebar {
  width: 120px;
  background: white;
  flex-shrink: 0;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.main {
  background: #ececec;
  flex-grow: 1;
  padding: 40px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: inset 10px 0px 20px -15px rgba(0, 0, 0, 0.1);
}

/***
 *
 *	Tabs Component
 *
******/
.bc-tab-title {
  font-weight: bold;
}

.tabs-component {
  padding: 40px 0px;
}

.tab-component {
  position: relative;
  text-align: center;
  min-height: 100px;
}

.tab-component::before {
  content: "";
  min-width: 0px;
  max-width: 0px;
  height: 100%;
  background: #2f68fd;
  display: block;
  position: absolute;
  transition: 0.3s all;
}

.tab-component.active:before {
  min-width: 5px;
  max-width: 5px;
}

.breadcrumbs-wrapper {
  color: #aeaeae;
  border-bottom: 1px solid #c6c8d3;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  background: #fd2f2f;
  font-size: 8px;
  color: white;
  padding: 4px;
  border-radius: 14px;
  position: absolute;
  top: 0px;
  right: 30px;
}

.tab-component:hover .tab-text {
  color: #ababab;
}

.tab-text {
  color: gray;
}

.active .tab-text {
  color: #2f68fd;
}

/**************** 
 *
 * 	User Profile
 * 
 **********/
.profile-title {
  color: #ababab;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.userprofile-text {
  font-size: 0.8em;
  color: #2f68fd;
  font-weight: bold;
}

/***
 *
 *	Dashboard Tools
 *
******/
.dashboard-tools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.pagebutton-component {
  margin: 0 2px;
  vertical-align: middle;
  border-radius: 20px;
  cursor: pointer;
}

.pagebutton-component[id*=_start],
.pagebutton-component[id*=_prev],
.pagebutton-component[id*=_next],
.pagebutton-component[id*=_end] {
  font-size: 1em;
  padding: 6px 4px;
  /* min-width: 22px; */
  background: none;
  color: #d3d5dd;
  font-weight: bolder;
}

.pagebutton-component[id*=_start]:hover,
.pagebutton-component[id*=_prev]:hover,
.pagebutton-component[id*=_next]:hover,
.pagebutton-component[id*=_end]:hover {
  color: black;
}

button {
  cursor: pointer;
}

button:hover {
  background: #ced2de;
}

button.active {
  color: #656565;
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.sorting-component .sorting-text {
  background: #c6c8d3;
  color: #ffffff;
  border: 0px;
  border-radius: 18px;
  padding: 7px 12px;
  outline: none;
  font-size: 0.8em;
  display: inline-block;
  height: 16.5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-sizing: content-box;
  vertical-align: middle;
}
.sorting-component .dropdown-menu {
  background: #b7b9c1;
}
.sorting-component .sortingitem-text {
  color: white;
}
.sorting-component .sortingitem-component {
  padding: 7px 20px;
  font-size: 0.9em;
}
.sorting-component .sortingitem-component:hover {
  background: white;
  color: gray;
}
.sorting-component .sortingitem-component:hover .sortingitem-text {
  color: gray;
}
.sorting-component .dropdown.open .dropdown-menu {
  max-height: 300px;
  padding: 5px 0px;
}
.sorting-component .dropdown .dropdown-menu li {
  border-bottom: 1px solid #c8c8c8;
}
.sorting-component .dropdown .dropdown-menu li:first-child {
  border-top: 1px solid #c8c8c8;
}
.sorting-component button {
  height: 31px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
}

.viewswitcher-text {
  font-size: 0.8em;
  color: #ababab;
}

.viewswitcher-container button {
  margin: 0 5px;
}

.viewswitcher-container {
  display: inline-flex;
  align-items: center;
}

/**** Filter by keyword ******/
.filtering-wrapper {
  display: inline-flex;
  width: 50%;
}
.filtering-wrapper .filteringkeyword-component {
  display: inline-block;
  background: white;
  margin: 0 5px;
  border-radius: 12px;
  padding: 5px 18px;
  color: black;
  font-size: 0.8em;
  margin-bottom: 2px;
}
.filtering-wrapper .filtering-component {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.filtering-wrapper .filtering-component input {
  flex-grow: 1;
}
.filtering-wrapper .filtering-component .keyword-text,
.filtering-wrapper .filtering-component .close {
  display: inline-block;
}
.filtering-wrapper .filtering-component .keyword-text {
  line-height: 1.3em;
}
.filtering-wrapper .filtering-component .close {
  margin: 0 3px;
  font-size: 0.8em;
  margin-top: -2px;
  position: absolute;
  cursor: pointer;
}
.filtering-wrapper .filtering-component .search-button {
  background: none;
  background: url(../assets/search.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0px;
}
.filtering-wrapper .filtering-component .search-button:hover {
  background: url(../assets/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(1.5);
}

/****
 *
 *	RecordSets
 *
 ******/
/** Field Headers ***/
.fieldheadercontainer-component {
  padding: 10px 20px;
  background: #c6c8d3;
  color: white;
}

.fieldheadercontainer-container {
  width: calc(100% - 210px);
  display: inline-block;
  vertical-align: middle;
}

.cards .fieldheadercontainer-component {
  margin-top: 40px;
}

/** Records ***/
.record-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.record-component {
  background: white;
  font-size: 12px;
  padding: 20px;
  transition: 0.3s box-shadow;
  border-bottom: 3px solid rgba(137, 137, 137, 0.3803921569);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.record-component:hover {
  border-bottom: 3px solid #2f68fd;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.record-icon {
  position: absolute;
}

.list .record-component {
  width: 100%;
  border-bottom: 1px solid rgba(137, 137, 137, 0);
  padding: 10px 20px;
  display: block;
}
.list .record-component:nth-child(even) {
  background: rgb(247, 247, 247);
}
.list .record-component:hover {
  z-index: 2;
}
.list .record-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 0px !important;
  margin: 0px;
}
.list .record-image {
  width: 40px !important;
  height: 30px !important;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.cards .record-image {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
}

/**** Fields *****/
.cards .field-component {
  position: relative;
}

.cards .fields-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-items: stretch;
}

.list .fields-wrapper {
  width: calc(100% - 210px);
  display: inline-block;
  vertical-align: middle;
}

.list .field-component {
  width: 20%;
  float: none;
  display: inline-block;
  text-align: start;
  vertical-align: middle;
  padding: 0 5px;
  box-sizing: border-box;
}

.field-title {
  display: block;
  font-size: 0.8em;
  color: #cecece;
  width: 100%;
}

.calendar-icon {
  background: url(../assets/calendar.svg);
  height: 24px;
  width: 24px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.date {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 0.9em;
}

.record-date {
  clear: both;
  display: block;
}

.year {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: -3px;
  color: #7f7f7f;
}

.day {
  padding: 0 1px;
}

/****** Actions **************/
.actions-header {
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}

.list .actions-container {
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}

.cards .action-component {
  padding: 10px 0;
  border-right: 1px solid #ececec;
  border-top: 1px solid #ececec;
  flex: 1 1 auto;
}
.cards .action-component:hover {
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.5);
}
.cards .action-component:last-child {
  border-right: 0px;
}

/******* Actions Kebab Menu ****************/
.kebab-menu {
  transform: rotateZ(90deg);
  width: 20px;
  height: 30px;
  padding: 9px 0px 0 0;
  border-radius: 8px;
  transition: 0.3s all;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.44);
  z-index: 3;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.kebab-menu img {
  width: 100%;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.7));
}

.kebab-menu:hover {
  background: rgba(0, 0, 0, 0.67);
}

.actionsmenu-wrapper {
  display: none;
}

.list .actions-menu .actionsmenu-wrapper {
  top: calc(50% - 20px);
}

.actions-menu .actionsmenu-wrapper {
  display: block;
  position: absolute;
  top: 0px;
  right: 20px;
  width: 20px;
}
.actions-menu .actions-wrapper {
  position: absolute;
  margin: 0px;
  top: 20px;
  left: 100%;
  background: #b7b9c1;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  z-index: 3;
  color: white;
  padding: 5px 0px;
  overflow: hidden;
  margin-left: -5px;
  max-height: 0px;
  transition: 0.2s all;
  padding: 0px;
  min-width: 120px;
  text-align: start;
}
.actions-menu .action-component {
  display: block;
  border: 0px;
  padding: 0px;
  border-bottom: 1px solid #c8c8c8;
}
.actions-menu .action-component:first-child {
  border-top: 1px solid #c8c8c8;
}
.actions-menu .action-component .action-link {
  padding: 10px 15px;
  border: 0px;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.actions-menu .action-component:hover {
  /* border-bottom: 1px solid #8f92ff; */
  box-shadow: none !important;
  background: white;
  color: gray;
}
.actions-menu .action-component:hover *,
.actions-menu .action-component:hover .action-text {
  color: gray;
}
.actions-menu .action-component .action-text {
  color: white;
}
.actions-menu .action-icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
}
.actions-menu .action-component:hover .action-icon {
  filter: brightness(0.5);
}

.actions-menu.open .actions-wrapper {
  max-height: 300px;
  padding: 5px 0px;
}

.record-component:not(.actions-menu) .action-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
  filter: brightness(0.5);
  text-align: center;
  margin: auto;
}
.record-component:not(.actions-menu) .action-text {
  margin-top: 5px;
  display: block;
}