// Fonts 
@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/Helvetica Neue LT Std 45 Light.otf');
}

$font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;

/****
 *
 * Main Colors
 *
***** */

// Backgrounds
$bg-1: #ececec;
$bg-2: #fafafa;

// Primary Colors are used for main buttons colors
$primary: #ababab;

// All Content Text, non links, titles & headers
$primary-text: #646464;
$primary-text-highlight: #7f7f7f;

// Secondary colors are used for border colors, unhighlighted elements
// & some secondary text colors 
$secondary: #5d6168;
$secondary-highlight: #5d6168;

// All Links
$link: #4578fd;				
$link-highlight: #6b70c7;	// Hover

// Actions Colors
$call-to-action: #2f68fd;	// Hover
$action: #3b85bf;

// Inputs
$input-text: #ffffff;
$input-background: #c6c8d3;
$input-background-hover: #ced2de;
$input-text-active: #656565;
$input-background-active: #ffffff;
$input-background-darker: #b7b9c1;

$badge-color: #fd2f2f;

/****
 *
 *	General 
 *
 **** */

html{
	margin: 0px;
  background: #dddddd;
	font-family: $font-family;
	font-weight: 500;
}

// Text
html, body{
	color: $primary-text;
}

// Text Links
a {
  color: $link;
	text-decoration: none;
}
a:hover,
a:focus {
    color: $link-highlight;
    text-decoration: none;
}

button, input{
	background: $input-background;
	color: $input-text;
	border: 0px;
	border-radius: 18px;
	padding: 7px 12px;
	outline: none;
}
input::placeholder {
	font-size: 0.8em;
	color: $input-text;
	opacity: 0.6;
}
button:active, input:active{
	border:0px;
	outline: transparent;
}
table{
  border-spacing: 0px;
}

/***
 *
 *	Dashboard Component
 *
******/

.dashboard-component{
	width: 80%;
	margin: 40px auto;
	display: flex;
	position:relative;
}
.dashboard-component::before{
	content:'';
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 14px;
	overflow:hidden;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	z-index: -1;
}
.sidebar{
	width: 120px;
	background: white;
	flex-shrink: 0;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
}

.main{
	background: $bg-1;
	flex-grow: 1;
	padding: 40px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
  box-shadow: inset 10px 0px 20px -15px rgba(0, 0, 0, 0.1);
}

/***
 *
 *	Tabs Component
 *
******/

.bc-tab-title{
	font-weight: bold;
}
.tabs-component{
	padding: 40px 0px;
}
.tab-component{
	position: relative;
	text-align: center;
	min-height: 100px;

}
.tab-component::before{
	content: '';
	min-width: 0px;
	max-width: 0px;
	height: 100%;
	background: $call-to-action;
	display: block;
	position: absolute;
	transition: 0.3s all;
}
.tab-component.active:before{
	min-width: 5px;
	max-width: 5px;
}
.breadcrumbs-wrapper{
	color: #aeaeae;
	border-bottom: 1px solid $input-background;
	padding-bottom: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.badge{
	background: $badge-color;
	font-size: 8px;
	color: white;
	padding: 4px;
	border-radius: 14px;
	position: absolute;
	top: 0px;
	right: 30px;
}
.tab-component:hover .tab-text{
	color: $primary;
}
.tab-text{
  color: gray;
}
.active .tab-text{
  color: $call-to-action;
	padding: 0 5px;
}

/**************** 
 *
 * 	User Profile
 * 
 **********/

 .profile-title{
	color: $primary;
	font-size: 0.8em;
	margin-bottom: 10px;
}

.userprofile-text{
	font-size: 0.8em;
	color: $call-to-action;
	font-weight: bold;
}

/***
 *
 *	Dashboard Tools
 *
******/

.dashboard-tools{
	display: flex;
  justify-content: space-between;
	margin-bottom: 40px;
}

.pagebutton-component{
	margin: 0 2px;
	vertical-align: middle;
	border-radius: 20px;
	cursor: pointer;
}
.pagebutton-component[id*="_start"],
.pagebutton-component[id*="_prev"],
.pagebutton-component[id*="_next"],
.pagebutton-component[id*="_end"] {
	font-size: 1em;
	padding: 6px 4px;
	/* min-width: 22px; */
	background: none;
	color: #d3d5dd;
	font-weight: bolder;
}
.pagebutton-component[id*="_start"]:hover,
.pagebutton-component[id*="_prev"]:hover,
.pagebutton-component[id*="_next"]:hover,
.pagebutton-component[id*="_end"]:hover {
	color: black;
}

button{
	cursor: pointer;
}
button:hover{
	background: $input-background-hover;
}
button.active{
	color: $input-text-active;
	background: $input-background-active;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}

.sorting-component {
	.sorting_text{
		background: $input-background;
		color: #ffffff;
		border: 0px;
		border-radius: 18px;
		padding: 7px 12px;
		outline: none;
		font-size: 0.8em;
		display: inline-block;
		height: 17px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		box-sizing: content-box;
		vertical-align: middle;		
	}
	.dropdown-menu{
		background: $input-background-darker;
	}
	.sortingitem-text{
		color: white;
	}
	.sortingitem-component {
		padding: 7px 20px;
		font-size: 0.9em;
	}
	
	.sortingitem-component:hover {
		background: white;
		color: gray;
	}
	
	.sortingitem-component:hover .sortingitem-text {
		color: gray;
	}
	
	.dropdown.open .dropdown-menu {
		max-height: 300px;
		padding: 5px 0px;
	}
	
	.dropdown .dropdown-menu li {
		border-bottom: 1px solid #c8c8c8;
	}
	
	.dropdown .dropdown-menu li:first-child {
		border-top: 1px solid #c8c8c8;
	}
	
	button{
		height: 31px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		cursor: pointer;
	}
}

.viewswitcher-text{
	font-size: 0.8em;
	color: $primary;
}


/**** Filter by keyword ******/

.filtering-wrapper{
	display: inline-flex;
  width: 50%;
	.filteringkeyword-component {
		display: inline-block;
		background: white;
		margin: 0 5px;
		border-radius: 12px;
		padding: 5px 18px;
		color: black;
		font-size: 0.8em;
		margin-bottom: 2px;
	}
	
	.filtering-component{
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
		input{
			flex-grow: 1;
		}
		.keyword-text,
		.close{
			display: inline-block;
		}
		.keyword-text{
			line-height: 1.3em;
		}
		.close{
			margin: 0 3px;
			font-size: 0.8em;
			margin-top: -2px;
			position: absolute;
			cursor: pointer;
		}
		.search-button{
			background: none;
			background: url(../assets/search.svg);
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			background-size: contain;
			border-radius: 0px;
		}
		.search-button:hover{
			background: url(../assets/search.svg);
			background-repeat: no-repeat;
			background-size: contain;
			filter: brightness(1.5);
		}
	}
}


/****
 *
 *	RecordSets
 *
 ******/

 /** Field Headers ***/

 .fieldheadercontainer-component{
	padding: 10px 20px;
	background: $input-background;
	color: white;
}
 .cards .fieldheadercontainer-component{
	margin-top: 40px;
}

 /** Records ***/

 .record-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.record-component{
	background: white;
	font-size: 12px;
	padding: 20px;
	transition: 0.3s box-shadow;
	border-bottom: 3px solid #89898961;
}
.cards .record-component:hover{
	border-bottom: 3px solid $call-to-action;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.record-icon{
	position: absolute;
}
.list {
	.record-component:nth-child(even) {
		background: rgb(247 247 247);
	}
	.record-component:hover {
		z-index:2;
	}
	.record-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		row-gap: 0px!important;
		margin: 0px;
	}

}

.cards .record-image{
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-top: -20px;
	margin-right: -20px;
  margin-bottom: 20px;
}

/**** Fields *****/


.field-title{
	display: block;
	font-size: 0.8em;
	color: #cecece;
	width: 100%;
}
.calendar-icon{
	background: url(../assets/calendar.svg);
	height: 24px;
	width: 24px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}
.date{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	font-size: 0.9em;
}
.record-date{
	clear: both;
	display: block;
}

.year{
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: -3px;
	color: $primary-text-highlight;
}

.day{
	padding: 0 1px;
}

/****** Actions **************/ 


.list .actions-container{
	display: inline-block;
	width: 150px;
	vertical-align: middle;
}

.cards {
	.action-component {
		border-right: 1px solid #ececec;
		border-top: 1px solid #ececec;
	}
	.action-component:hover {
		box-shadow: inset 0px -2px 0px rgba(0,0,0,0.5);
	}
	.action-component:last-child{
		border-right: 0px;
	}
}

/******* Actions Kebab Menu ****************/

.actionsmenu-component {
	transform: rotateZ(90deg);
  width: 20px;
  height: 30px;
  padding: 9px 0px 0 0;
  border-radius: 8px;
  transition: 0.3s all;
  cursor:pointer;
	background: rgb(255 255 255 / 44%);
	z-index: 3;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
.actionsmenu-component img {
  width: 100%;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.7));

}
.actionsmenu-component:hover {
  background: rgb(0 0 0 / 67%);
}

.cards {
	.actions-menu{
		.action-component {
			border-right: 0px;
			border-top: 0px;
		}	
	}
}

.actions-menu {
	.actions-wrapper{
		position: absolute;
		margin: 0px;
		top: 20px;
		left: 100%;
		background: #b7b9c1;
		border-radius: 10px;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
		z-index: 3;
		color: white;
		padding: 5px 0px;
		overflow: hidden;
		margin-left: -5px;
		max-height: 0px;
		transition: 0.2s all;
		padding: 0px;
		min-width: 120px;
		text-align: start;
	}
	.action-component {
		border-bottom: 1px solid #c8c8c8;
	}
	.action-component:first-child {
		border-top: 1px solid #c8c8c8;
	}
	.action-component .action-link {
		padding: 10px 15px;
		border: 0px;
		display: flex;
		cursor: pointer;
		flex-direction: row;
		align-items: center;
		gap: 7px;
	}
	.action-component:hover {
		/* border-bottom: 1px solid #8f92ff; */
		box-shadow: none!important;
		background: white;
		color: gray;
	}
	.action-component:hover *,
	.action-component:hover .action-text {
		color: gray;
	}
	.action-component .action-text {
		color: white;
	}

	.action-icon{
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-size: contain;
		flex-shrink: 0;
	}
	.action-component:hover .action-icon {
		filter: brightness(0.5);
	}	
}

.actions-menu.open .actions-wrapper {
  max-height: 300px;
  padding: 5px 0px;
}

.record-component:not(.actions-menu){
	.action-icon {
		display: block;
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		flex-shrink: 0;
		filter: brightness(0.5);
		text-align: center;
		margin: auto;
	}
	.action-text {
		margin-top: 5px;
		display: block;
		font-size: 0.8em;
	}
}
@media screen and (max-width: 1500px){
	.dashboard-component {
    width: 90%;
	}
}
@media screen and (max-width: 1300px){
	.dashboard-component {
    width: 95%;
	}
}
@media screen and (max-width: 1024px){
	.dashboard-component {
    width: auto;
		display: block;
		margin: 0px;
	}
	.sidebar {
    width: auto;
		border-radius: 14px;
		margin-bottom: 20px;
	}
	.userprofile-component {
    margin-top: 0px;
	}
	.main{
		border-radius: 14px;
	}
	.record-wrapper {
		grid-template-columns: 1fr 1fr!important;
	}
	.tabs-container{
		display: flex;
    justify-content: space-around;
	}
	.tabs-component {
    padding: 20px 0 0;
	}
	.tab-component::before {
		min-width: 0px;
		max-width: 0px;
		height: 0px;
		top: -20px;
	}
	.tab-component.active::before {
    min-width: 100%;
    max-width: 100%;
	}

}
@media screen and (max-width: 700px){
	.cards .record-wrapper {
		display: block;
	}
}

@media screen and (max-width: 768px) {
  .breadcrumbs-wrapper{
    flex-direction: column;
    gap: 10px;
  }
  .filtering-wrapper {
    width: 100%;
  }
  .dashboard-tools{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .dashboard-tools > *:nth-child(3){
    grid-column: span 2;
    /* width: 100%; */
    margin: auto;
  }
  .viewswitcher-wrapper{
    text-align:end;
  }
}
